@model IEnumerable<SupWave.Models.Song>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Songs </h1>

<p class="view-create-button">
    Add a new song ? Click <a asp-action="Create"> here</a>.
</p>

<ul>
    @foreach (var item in Model)
    {
        <li class="list-link"> <a asp-action="Details" asp-route-id="@item.Id"> @item.Name</a> </li>
    }
</ul>
