@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <h1 id="main-title"> SupWave - My Music Controller ♫ </h1>

        @if (User.Identity.IsAuthenticated)
        {
            <p id="song-name" class="common-paragraph" ><i> Default Song : </i> Bangarang - Skrillex </p>

            <div class="text-center">
                <div id="player"></div>
            </div>

            <div class="control-buttons">
                <div onclick="play()"> <i id="togglePlay" class="fas fa-play"></i> </div>
                <div onclick="toggleMute()"><i id="toggleMute" class="fas fa-volume-mute"></i> </div>
                <div onclick="musicPrev()"><i class="fas fa-arrow-left"></i></div>
                <div onclick="musicNext()"><i class="fas fa-arrow-right"></i></div>
                <div onclick="musicRandom()"><i class="fas fa-random"></i></div>
            </div>

            <div class="load-music-form">
                <span class="songs-label"> Songs : </span>
                <select id="music-select" onchange="loadMusic()">
                    @foreach (var filename in ViewBag.musics)
                    {
                        <option value="@filename">@filename</option>
                    }
                </select>
            </div>
        }
        else
        {
            <p> 
                You have to be authenticated to access the music controller ! 
                <a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register"> Register </a>
            </p>
        }
    </div>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://kit.fontawesome.com/a3fd4570e9.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="~/js/wavesurfer-loader.js"></script>
