@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2> SupWave - My Music Controller ♫ </h2><br />

    <a asp-controller="Playlist" action="UserList"> My Playlists </a><br />
    <a asp-controller="Song" action="UserList"> My Songs  </a>
</div>
