@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <h1 id="main-title"> SupWave - My Music Controller ♫ </h1>

        @if (User.Identity.IsAuthenticated)
        {
            <p id="song-name" class="common-paragraph" ><i> Default Song : </i> Bangarang - Skrillex </p>

            <div class="text-center">
                <div id="player"></div>
            </div>

            <div class="control-buttons">
                <div onclick="play()"> <i id="togglePlay" class="fas fa-play"></i> </div>
                <div onclick="toggleMute()"><i id="toggleMute" class="fas fa-volume-mute"></i> </div>
            </div>

            <div class="load-music-form">
                <span class="songs-label"> Songs : </span>
                <select id="music-select">
                    @foreach (var filename in ViewBag.musics)
                    {
                        <option value="@filename">@filename</option>
                    }
                </select>
                <div onclick="loadMusic()"> <i id="toggleMusic" class="fas fa-sync-alt"> </i> </div>
            </div>
        }
        else
        {
            <p> 
                You have to be authenticated to access the music controller ! 
                <a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register"> Register </a>
            </p>
        }
    </div>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://kit.fontawesome.com/a3fd4570e9.js" crossorigin="anonymous"></script>

<script>
    var wavesurfer = new WaveSurfer.create({
        container: '#player',
        barWidth: 3,
        waveColor: '#eee',
        progressColor: '#2980B9',
        barWidth: 8,
        barRadius: true,
        height: 196
    });

    var isPlaying = false;
    function play() {
        isPlaying = !isPlaying;

        var buttonClass = (isPlaying) ? "fas fa-pause" : "fas fa-play";
        document.getElementById('togglePlay').className = buttonClass;

        wavesurfer.playPause();
    }

    var isMuted = false;
    function toggleMute() {
        isMuted = !isMuted;

        var buttonClass = (isMuted) ? "fas fa-volume-mute" : "fas fa-volume-up";
        document.getElementById('toggleMute').className = buttonClass;

        wavesurfer.setMute(isMuted);
    }

    var loadedMusic = "";
    function loadMusic() {
        var select = document.getElementById('music-select');
        var newSong = select.options[select.selectedIndex].text;

        wavesurfer.load("/audio/" + newSong);

        wavesurfer.on('ready', function () {
            console.log("Now playing " + newSong);
            document.getElementById('song-name').innerHTML = "<i> Playing : </i>" + newSong;

            if (isPlaying) {
                wavesurfer.play();
            }
        }
        )
    }

    // Loads a song by default
    if (!loadedMusic) {
        loadedMusic = "/audio/default.mp3";
    }

    wavesurfer.load(loadedMusic);
</script>
